body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  margin-top: 50px;
}

.input {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.input input {
  background: #1e293b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0 5px;
}

.input button {
  background: #1e293b;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.input button:hover {
  background: #38bdf8;
  color: black;
}

.board {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.column {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  width: 250px;
}

.task {
  background: #334155;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  cursor: grab;
  transition: 0.2s;
}

.task:hover {
  transform: scale(1.02);
}