body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  margin-top: 50px;
  width: 300px;
}

.input, .filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.todo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  background: #1e293b;
  border-radius: 6px;
  cursor: grab;
}

.todo:active {
  cursor: grabbing;
  opacity: 0.7;
}
